body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

* {
    padding: 0;
    margin: 0;
}
button {
    border: none;
    background: none;
}
input {
    background: none;
    border: none;
}
.guess {
    width: 260px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 50%);
    text-align: center;
    border-radius: 4px;
}
.guess__title {
    width: 200px;
    padding: 5px 10px;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    background: red;
    margin: 0 auto;
}
.guess__inp {
    margin: 10px 0;
    width: 110px;
    height: 20px;
    padding: 0 5px;
    border-bottom: 2px solid gray;
 }
.guess__btn {
    background: green;
    border-radius: 4px;
    height: 25px;
    width: 80px;
}
.guess__answer {
    margin: 10px 0;
}


